.sensor-form-container {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;

	.sensor-form {
		width: 450px;
		max-height: 720px;
		background-color: white;
		z-index: 2;
		border-radius: 15px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
		justify-content: flex-start;
		padding-top: 20px;

		h1 {
			color: rgb(29, 191, 255);
			text-align: center;
		}

		.sensor-form-values {
			padding-top: 40px;

			.select-container {
				width: 400px;
				margin-bottom: 25px;
			}

			.input-md {
				margin-bottom: 25px;
				border-radius: 5px;

				&:last-child {
					display: flex;
					flex-wrap: wrap;
					max-width: 400px;
				}
			}

			.sensor-buttons {
				width: 70%;
				justify-content: space-between;
				margin-bottom: 20px;
				margin-top: 20px;

				.MuiButtonBase-root {
					width: 120px;
					background-color: red !important;

					&:hover {
						background-color: rgb(168, 0, 0) !important;
					}

					&:last-child {
						background-color: #1dbfff !important;

						&:hover {
							background-color: #0794cc !important;
						}
					}
				}
			}
		}
	}
}