.background-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    display: flex;
    animation: dayTimeAnimation 30s infinite linear;
    z-index: -1;
    top: 0;
    .moon-sun-container {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        .day-transition {
            position: absolute;
            height: 120vw;
            width: 120vw;
            margin: auto;
            animation: dayTime 30s infinite linear;
            bottom: -100vw;
            .sun {
                &:nth-child(3) {
                    top: unset;
                    bottom: -50px;
                    left: unset;
                    right: -63px;
                }
            }
            .moon {
                &:last-child {
                    top: unset;
                    bottom: -50px;
                    left: -63px;
                }
            }
        }
    }
    .wind-container {
        opacity: 0;
        animation: dayNight 30s infinite linear;
    }
    .city {
        width: 100%;
        bottom: -40px;
        position: absolute;
        animation: city 30s infinite linear;
        z-index: 1;
    }
    .earth {
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 173px;
        background-color: #934828;
        z-index: 2;
        padding-bottom: 5%;
        justify-content: space-evenly;
        .vegetables {
            width: fit-content;
        }
    }
}

@keyframes dayTimeAnimation {
    0% {
        background-color: #70c4c6;
    }
    25% {
        background-color: #f0d458;
    }
    40% {
        background-color: #ffa24b;
    }
    50% {
        background-color: #354a4a;
    }
    65% {
        background-color: #354a4a;
    }
    90% {
        background-color: #524b64;
    }
    100% {
        background-color: #70c4c6;
    }
}

@keyframes dayTime {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}

@keyframes dayNight {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes city {
    30% {
        opacity: 1;
    }
    60% {
        opacity: 0.5;
    }
    80% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
