.perfil-container {
	width: 500px;
	max-height: 420px;
	height: 100%;
	position: absolute;
	border-radius: 10px;
	top: 130px;
	left: 20px;
	justify-content: unset;
	z-index: 10;
	cursor: default;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

	>* {
		transition: all .250s ease-out;
	}

	.name-container {
		width: 100%;
		margin-top: 20px;
	}

	.profile-container {
		height: 88.5%;

		.input-container {
			height: 100%;

			.input-profile {
				+ .input-profile {
					margin-top: 20px;
				}
			}

			.my-button {
				margin-top: 20px;
			}
		}
	}

	.left-container {
		width: 40%;
		min-height: 192px;
		height: 100%;
		z-index: 0;
		background: linear-gradient(90deg, rgb(85, 144, 255) 0%, rgb(29, 191, 255) 100%);
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		position: relative;
		transition: all .3s ease-in-out;
		overflow: hidden;

		&:hover {
			.line {
				opacity: 1;
			}
		}

		.line {
			height: 90%;
			width: 0.5px;
			position: absolute;
			margin-left: 185px;
			top: 16px;
			background-color: rgb(85, 144, 255);
			opacity: 0;
			transition: all .3s linear;
		}

		.profile-information-container {
			justify-content: space-evenly;
			list-style-type: none;
			height: 100%;
			width: 185px;

			.username {
				span {
					width: fit-content;
					height: fit-content;
					color: white;
					margin-top: 10px;

					&:first-child {
						padding: 5px 10px;
						border-radius: 24px;
						background-color: rgb(0, 81, 230);
						transition: all .5s linear;
					}
				}
			}

			.picture {
				cursor: pointer;

				img {
					width: 125px;
					height: 125px;
					border-radius: 50%;
					border: 2px solid #0051e6;
					transition: all .2s linear;
					margin: 20px 0;

					&:hover {
						opacity: 0.7;
					}

					&:active {
						opacity: 1;
					}
				}

				&:hover {
					&::after {
						opacity: 1;
					}
				}

				&::after {
					content: "editar";
					position: absolute;
					color: white;
					font-size: 20px;
					font-weight: 500;
					opacity: 0;
					transition: all .2s linear;
				}
			}

			.lvl-content {
				div {
					width: 120px;
					height: 20px;
					background-color: rgb(0, 81, 230);
					border: 2px solid rgb(0, 81, 230);
					margin-bottom: 10px;
					position: relative;

					&::after {
						content: "EXP";
						color: white;
						z-index: 1;
					}

					span {
						height: 100%;
						background-color: rgb(104, 157, 255);
						position: absolute;
						transition: all .3s linear;
						left: 0;
					}
				}

				p {
					width: 120px;
					text-align: center;
					padding: 3px 10px;
					color: white;
				}
			}
		}

		&:hover {
			width: 100%;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			z-index: 20;
		}

		.profile-achievements-container {
			position: absolute;
			top: 0;
			left: 210px;
			width: 276.3px;
			height: 100%;
			z-index: 0;
			list-style-type: none;
			justify-content: unset;
			justify-content: space-between;

			.name-container {
				color: white;
				width: fit-content;
			}

			.text-small {
				margin-top: 20px;
				color: white;
			}

			.achiviments-items {
				width: 100%;
				margin-bottom: 10px;

				.profile-icon-container {
					width: inherit;
					list-style-type: none;
					justify-content: space-evenly;

					li {
						cursor: pointer;
						padding: 5px 10px;
						border-radius: 10px;

						.profile-icon {
							width: 30px;
							height: 30px;
						}

						p {
							color: white;
							margin: 5px 0;
							text-transform: uppercase;
							font-weight: 600;

							&:last-child {
								margin-top: 0;
							}
						}

						&:hover {
							background-color: rgba(255, 255, 255, 0.26);
						}

						&:active {
							opacity: 0.8;
						}
					}
				}
			}
		}
	}

	.right-container {
		background: linear-gradient(#fff4f4, rgb(255, 238, 231));
		list-style-type: none;
		width: 60%;
		height: 100%;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		position: absolute;
		right: 0;
		z-index: 1;
	}
}