[class^="text"] {
  font-family: 'Brush Script MT', cursive;
  color: black;
}

$green: #1e9705;
$hover-green: #42b72a;
$yellow: #ffd000;
$hover-yellow: #ffae00;
$blue: #1877f2;
$hover-blue: #5ca2ff;
$pink: #d42767;

.text-tiny {
  font-size: 12px;
}

.text-small {
  font-size: 14px;
}

.text-regular {
  font-size: 16px;
}

.text-medium {
  font-size: 20px;
}

.text-large {
  font-size: 40px;
}

.input-profile{
  width: 230px;
}

.input-sm {
  width: 194px;
}

.input-md {
  width: 400px;
}

.button-sm {
  width: 130px;
  height: 42px;
}

.button-md {
  width: 200px;
  height: 44px;
}

.button-lg {
  width: 400px;
  height: 46px;
}

.row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line {
  height: 1px;
  width: 100%;
  background-color: rgb(218, 218, 218);
}

.error {
  font-size: 10px;
  letter-spacing: -2px;
}

.input-container {
  width: 100%;
  height: fit-content;
  margin-bottom: 10px;

  &:first-child {
    margin-right: 5px;
  }
}

.background-transparent {
  animation: containerDaily 30s infinite linear 5s;
  background-color: black;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  opacity: 0.6;
  position: absolute;
  z-index: -1;
}

.MuiAlert-root {
  position: absolute;
  bottom: 20px;
  right: -100%;
  z-index: 100;
  transition: 800ms ease-out right !important;
}

.MuiInputLabel-outlined {
  z-index: 0!important;
}

.divided {
  display: flex;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.dark-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: 1;
}