[class^="text"] {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

$green: #1e9705;
$hover-green: #42b72a;
$yellow: #ffd000;
$hover-yellow: #ffae00;
$blue: #1877f2;
$hover-blue: #5ca2ff;
$pink: #d42767;

.text-tiny {
  font-size: 10px;
}

.text-small {
  font-size: 14px;
}

.text-regular {
  font-size: 20px;
}

.text-medium {
  font-size: 20px;
}

.text-large {
  font-size: 40px;
}

.input-sm {
  width: 194px;
}

.input-md {
  width: 400px;
}

.button-sm {
  width: 130px;
  height: 42px;
}

.button-md {
  width: 200px;
  height: 44px;
}

.button-lg {
  width: 400px;
  height: 46px;
}

.row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line {
  height: 1px;
  width: 100%;
  background-color: rgb(218, 218, 218);
}

.error {
  font-size: 10px;
  letter-spacing: -2px;
}

.input-container {
  width: 100%;
  height: fit-content;
  margin-bottom: 10px;

  &:first-child {
    margin-right: 5px;
  }

}

.MuiAlert-root {
  position: absolute;
  bottom: 20px;
  right: -10%;
  z-index: 100;
  transition: 800ms linear all!important;
}