@import './default';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu Mono', monospace;
}

html,
body,
#root {
  height: 100vh;
  overflow-x: hidden;
}

body,
input,
button {
  font-family: 'Ubuntu Mono', monospace;
}

@import './lib/styles/form.scss';
@import './pages/home/styles.scss';
@import './pages/login/styles.scss';
@import './common/button/styles.scss';
@import './components/background/styles.scss';
@import './components/background/cloud/styles.scss';
@import './components/background/moon/styles.scss';
@import './components/background/star/styles.scss';
@import './components/background/sun/styles.scss';
@import './components/background/wind/styles.scss';
@import './components/footer/styles.scss';
@import './components/header/styles.scss';
@import './components/loading/styles.scss';
@import './components/loginContainer/styles.scss';
@import './components/signupContainer/styles.scss';
@import './components/sensorContainer/styles.scss';
@import './components/barChart/styles.scss';
@import './components/myLineChart/styles.scss';
@import './components/sensorForm/styles.scss';
@import './components/colorPicker/styles.scss';
@import './components/importSensorForm/styles.scss';
@import './components/perfilContainer/styles.scss';
@import './components/fullChart/styles.scss';