* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background: linear-gradient(to bottom right, #f6f6f6, rgb(230, 255, 253), rgb(252, 222, 250));
}
@font-face {
  font-family: GALS;
  src: url(./lib/fonts/GALS.ttf) format("ttf");
}

@font-face {
  font-family: GALSB;
  src: url(./lib/fonts/GALSB.ttf) format("ttf");
}

body,
input,
button {
  font-family: Arial, Helvetica, sans-serif, source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace, GALS,
    GALSB;
}
